.btn:disabled {
  background-color: gray;
  cursor: not-allowed;
}
.selected {
  border: 1px solid green;
  position: relative;

}
span.corect{
  position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    content: url('https://img.icons8.com/emoji/48/000000/check-mark-emoji.png');
    width: 20px;
    height: 20px;
  }
  span.gresit{
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    content: url('https://img.icons8.com/fluency/48/000000/multiply.png');
    width: 20px;
    height: 20px;
  }
