.btn:disabled {
  background-color: gray;
  cursor: not-allowed;
}
.selected {
  border: 1px solid green;
  position: relative;
}
img {
  width: 100%;
  &.title-image {
    width: 50%;
  }
  &.option-image {
    width: 200px;
  }
  cursor: pointer;
}
.image {
  display: flex;
  justify-content: center;
}
span.right {
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  content: url("https://img.icons8.com/emoji/48/000000/check-mark-emoji.png");
  width: 20px;
  height: 20px;
}
span.wrong {
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  content: url("https://img.icons8.com/fluency/48/000000/multiply.png");
  width: 20px;
  height: 20px;
}
.list-group {
  .list-group-item {
    display: flex;
    justify-content: space-between;
    span.ans {
      width: 100%;
    }
    img {
      width: 25px;
    }
  }
}
