<div class="card" *ngIf="processed">
  <div class="card-body">
    <h5 class="card-title">{{ processed?.title }}</h5>
    <ul class="list-group">
      <li
        class="list-group-item"
        [ngClass]="{ 'selected': checked.has(ans)}"
        (click)="clicked(ans)"
        *ngFor="let ans of processed?.ans"
      >
        {{ ans.substring(1) }}
        <span [ngClass]="{'right':check && ans[0]==='=', 'wrong':check && ans[0]==='-' }"></span>
      </li>
    </ul>
  </div>
  <div class="d-flex justify-content-between" *ngIf="!output">
    <button class="btn btn-primary" (click)="check = true" [disabled]="!checked.size">
      Check
    </button>
    <button class="btn btn-primary" [disabled]="!checked.size" (click)="next()">
      Next
    </button>
  </div>
</div>
