.btn:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.selected {
  border: 1px solid green;
  position: relative;
  box-sizing: border-box;
}

img {
  width: 100%;

  &.title-image {
    width: 50%;
  }

  &.option-image {
    width: 200px;
  }

  cursor: pointer;
}

.image {
  display: flex;
  justify-content: center;
}

span.right {
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  content: url("https://img.icons8.com/emoji/48/000000/check-mark-emoji.png");
  width: 20px;
  height: 20px;
}

span.wrong {
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  content: url("https://img.icons8.com/fluency/48/000000/multiply.png");
  width: 20px;
  height: 20px;
}

.action-btns {
  margin: 0 1rem;
}

.list-group {
  border: none;

  .list-group-item {
    display: flex;
    justify-content: space-between;
    border-radius: 0.5rem;
    margin: 0.5rem 0rem;

    &> {
      pointer-events: none;
    }

    span.ans {
      width: 100%;
    }

    img {
      width: 25px;
    }
  }

  &:not([aria-disabled]) {
    cursor: pointer;

    &>.list-group-item:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      font-weight: 500;
    }
  }
}

.card {
  padding: 0.5rem;
}