<div class="container my-5">
  <div class="topbar">
    <div class="d-flex justify-content-between">
      <button class="btn btn-danger" (click)="reset()">Home</button>
      <div class="form-group" *ngIf="!(questions?.length > 0)">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]="isMultipleCorrectEnabled" />
          <label class="form-check-label" for="gridCheck">
            Prof. Nebun? (Mihasan)
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="upload" *ngIf="!(questions?.length > 0)">
    <h1>Questions mixer:</h1>
    <app-upload (testIt)="processedFile($event)" (resultsPlease)="showResults($event)"></app-upload>
  </div>
  <div class="questions" *ngIf="!isTestFinished && questions?.length > 0">
    <p>
      <span>Progress: {{ index }} out of {{ questions.length }}</span>
      <ngb-progressbar type="success" textType="blue" [value]="progress" [showValue]="true"></ngb-progressbar>
    </p>
    <app-question [isMultipleCorrectEnabled]="isMultipleCorrectEnabled" [question]="questions[index - 1]"
      (nextQ)="next($event)">
    </app-question>
  </div>
  <app-results *ngIf="isTestFinished" [answers]="answersArray" [fileName]="fileName" [doNotSave]="doNotSave">
  </app-results>
</div>