<div class="container my-5">
  <div class="topbar">
    <button class="btn btn-danger" (click)="reset()">Reset</button>
  </div>
  <div class="upload" *ngIf="!(questions?.length > 0)">
    <h1>Questions mixer:</h1>
    <app-upload (testIt)="processedFile($event)"></app-upload>
  </div>
  <div class="questions" *ngIf="!finish && questions?.length > 0">
    <p>
      <span>Progress: {{ index }} out of {{ questions.length }}</span>
      <ngb-progressbar
        type="success"
        textType="blue"
        [value]="progress"
        [showValue]="true"
      ></ngb-progressbar>
    </p>
    <app-question [question]="questions[index - 1]" (nextQ)="next($event)">
    </app-question>
  </div>
  <app-results *ngIf="finish" [answers]="answers"></app-results>
</div>
