<div class="upload-container m-5">
  <div class="card" *ngIf="hasLocalStorage">
    <div class="card-body">
      <h5 class="card-title d-flex justify-content-between">
        <p>
          History
        </p>
        <button class="btn btn-danger" (click)="clearHistory()">Clear Everything</button>
      </h5>
      <ul class="lista">
        <li *ngFor="let local of locals">
          <span (click)="handleHistoryInput(local.name,local.file)">
            <strong>{{local?.name}}</strong> -
            <i>{{local?.nrOfQ}} Questions</i> - {{(local?.size/1024)|number: '1.0-2' }} KB
          </span>
          <ol *ngIf="localFinished[local?.name]">
            <li *ngFor="let finished of localFinished[local?.name]"
              (click)="handleShowResults(local?.name,finished.answers)">
              {{finished.date |date: 'medium'}}
            </li>
          </ol>
        </li>
      </ul>
    </div>
  </div>
  <div class="div mt-2" *ngIf="!uploaded">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
      </div>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="inputGroupFile01" (change)="handleFileInput($event)"
          accept=".txt" multiple="false" aria-describedby="inputGroupFileAddon01">
        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
      </div>
    </div>
  </div>
  <div class="" *ngIf="uploaded && error">Error processing file!</div>
  <div *ngIf="done">
    <p>A total of {{ nrOfQ }} questions:</p>
    <ul class="list-group my-2">
      <li class="list-group-item" *ngFor="let i of processedFile">
        {{ i.q }}
      </li>
    </ul>
    <button class="btn btn-primary" (click)="test()">Test it!</button>
  </div>
</div>